<div class="background-opaque-overlay">  
  <h1 class="contact-us-header">Contact Us</h1>
  <div class="main-content card">
      <img class="contact-us-image" src="/astronaut_icon.png" alt="image of an astronaut">
      <div class="contact-us-text-container">
          <h5 class="contact-us-text">
              We would like to hear from you! 
          </h5>
          <p class="contact-us-text">
              Please contact us at 
              <a href="mailto:info@connectspacekids.org">info@connectspacekids.org</a>
              We look forward to your comments, ideas or questions. We are passionate about 
              space exploration and making it approachable for kids across the world!
          </p>
      </div>
  </div>
  <div class="content"></div>
</div>
<footer class="footer">
    connectspacekids © 2020
</footer>
<div id="background-container">
  <img src="/background_image.png" id="background-image" alt="graphic design of space and planets">
</div>