<div class="homepage-content">
  <!-- <img class="top homepage-banner"
     src="home1_small.jpg"
     srcset="home1_xlarge.jpg 1920w, home1_large.jpg 1024w, home1_med.jpg 640w, home1_small.jpg 320w"
     sizes="100vw"
     alt="a girl stands in front of a drawing of an astronaut."> -->
  <div class="homepage-text-image-wrapper">
    <div class="homepage-text">
        <h3>Welcome to ConnectSpaceKids</h3>
        <p>Our goal is to connect kids around the world through their love of the universe.</p>
        <p>At ConnectSpaceKids you'll be able to search upcoming launches of crew and cargo going to space and different planets. In addition, our site is a safe and exciting place for kids around the world to connect with their peers who share a passion for space.
      </p>
    </div>
    <img class="homepage-image"
     src="<%=@imghdurl%>"
     srcset="<%=@imghdurl%> 1024w, <%=@imgurl%> 640w, <%=@imgurl%> 320w"
     sizes="(min-wdith: 1000px) 50vw, 100vw"
     alt="NASA Image of the Day.">
  </div>
  <!-- <img class="bottom homepage-banner"
     src="home3_small.jpg"
     srcset="home3_xlarge.jpg 1920w, home3_large.jpg 1024w, home3_med.jpg 640w, home3_small.jpg 320w"
     sizes="100vw"
     alt="three young adults sit and look at a laptop."> -->
  <footer class="homepage-footer">
    connectspacekids © 2020
  </footer>
</div>
