<form class="form-inline sendm-form" action="/ncc">
    <div class="form-group mb-2">
        <label for="inputtext" class="sr-only">Channel Name</label>
        <input type="text" class="form-control" id="inputtext" placeholder="Channel Name" name="channel-name">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
